<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1 {
            color:brown;
        }
        p {
            color:rgb(65, 57, 35);
            font-size: 20x;
            font-weight: bold;
        }
        footer {
            text-align: unset;
            color:blueviolet
        }

    </style>
</head>
<body>
    <h1>Olá, {{cliente}}!</h1>
    <p>Seu pedido foi realizado com sucesso! Em breve enviaremos mais informações.</p>
    <p>Agradecemos a sua compra!</p>

    
</body>
<footer>
        <h5>&reg;derepentecoders</h5>
</footer>
</html>